@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #252525;
  color: #e6e6e6;
  min-height: 100vh;
}

@layer components {
  .hero-btn {
    @apply py-2 px-4 bg-red-600 rounded transition hover:bg-red-700 min-w-[165px] flex items-center justify-center gap-2;
  }
}
